.main{
  width: 800px;
  height: 500px;
  margin: auto;
  font-size: 0;
  margin-top: 100px;
}

.box{
  display: inline-block;
  border: 1px solid black;
}
.box.green{
  width: 400px;
  background-color: green;
  height: 200px;
}

.box.blue{
  width: 400px;
  background-color: blue;
  height: 200px;
}

.box.grey{
  width: 33.33%;
  background-color: grey;
  height: 300px;
}

.box.black{
  width: 33.33%;
  background-color: black;
  height: 300px;
}

.box.yellow{
  width: 33.33%;
  background-color: yellow;
  height: 300px;
}

