body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img{
  width: 200px;
}

.nebula1{
  float: left;
  margin: 10px;
}

.nebula2{
  float: right;
  margin: 10px;
}
